#microscopy-app-container .react-resizable {
  position: relative;
}
#microscopy-app-container .react-resizable-handle {
  position: absolute;
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background-origin: content-box;
  box-sizing: border-box;
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA2IDYiIHN0eWxlPSJiYWNrZ3JvdW5kLWNvbG9yOiNmZmZmZmYwMCIgeD0iMHB4IiB5PSIwcHgiIHdpZHRoPSI2cHgiIGhlaWdodD0iNnB4Ij48ZyBvcGFjaXR5PSIwLjMwMiI+PHBhdGggZD0iTSA2IDYgTCAwIDYgTCAwIDQuMiBMIDQgNC4yIEwgNC4yIDQuMiBMIDQuMiAwIEwgNiAwIEwgNiA2IEwgNiA2IFoiIGZpbGw9IiMwMDAwMDAiLz48L2c+PC9zdmc+");
  background-position: bottom right;
  padding: 0 3px 3px 0;
}
#microscopy-app-container .react-resizable-handle-sw {
  bottom: 0;
  left: 0;
  cursor: sw-resize;
  transform: rotate(90deg);
}
#microscopy-app-container .react-resizable-handle-se {
  bottom: 0;
  right: 0;
  cursor: se-resize;
}
#microscopy-app-container .react-resizable-handle-nw {
  top: 0;
  left: 0;
  cursor: nw-resize;
  transform: rotate(180deg);
}
#microscopy-app-container .react-resizable-handle-ne {
  top: 0;
  right: 0;
  cursor: ne-resize;
  transform: rotate(270deg);
}
#microscopy-app-container .react-resizable-handle-w,
#microscopy-app-container .react-resizable-handle-e {
  top: 50%;
  margin-top: -10px;
  cursor: ew-resize;
}
#microscopy-app-container .react-resizable-handle-w {
  left: 0;
  transform: rotate(135deg);
}
#microscopy-app-container .react-resizable-handle-e {
  right: 0;
  transform: rotate(315deg);
}
#microscopy-app-container .react-resizable-handle-n,
#microscopy-app-container .react-resizable-handle-s {
  left: 50%;
  margin-left: -10px;
  cursor: ns-resize;
}
#microscopy-app-container .react-resizable-handle-n {
  top: 0;
  transform: rotate(225deg);
}
#microscopy-app-container .react-resizable-handle-s {
  bottom: 0;
  transform: rotate(45deg);
}
#microscopy-app-container .react-tabs {
  -webkit-tap-highlight-color: transparent;
}
#microscopy-app-container .react-tabs__tab-list {
  border-bottom: 1px solid #aaa;
  margin: 0 0 10px;
  padding: 0;
}
#microscopy-app-container .react-tabs__tab {
  display: inline-block;
  border: 1px solid transparent;
  border-bottom: none;
  bottom: -1px;
  position: relative;
  list-style: none;
  padding: 6px 12px;
  cursor: pointer;
}
#microscopy-app-container .react-tabs__tab--selected {
  background: #fff;
  border-color: #aaa;
  color: black;
  border-radius: 5px 5px 0 0;
}
#microscopy-app-container .react-tabs__tab--disabled {
  color: GrayText;
  cursor: default;
}
#microscopy-app-container .react-tabs__tab:focus {
  box-shadow: 0 0 5px #0188fe;
  border-color: #0188fe;
  outline: none;
}
#microscopy-app-container .react-tabs__tab:focus:after {
  content: "";
  position: absolute;
  height: 5px;
  left: -4px;
  right: -4px;
  bottom: -5px;
  background: #fff;
}
#microscopy-app-container .react-tabs__tab-panel {
  display: none;
}
#microscopy-app-container .react-tabs__tab-panel--selected {
  display: block;
}
#microscopy-app-container .react-resizable-handle {
  right: -7px !important;
  bottom: -7px !important;
}

#microscopy-app-container button.common-btn {
  text-align: center;
  padding: 5px 8px;
  font-weight: 500;
  border-radius: 3px;
  border: 1px solid transparent;
}
